/* 全体 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 15px;
}

body {
  background-color: #fff;
  font-size: 4vw;
  color: #333;
}

hr {
  width: 20%;
  margin: auto;
}

.right {
  text-align: right;
}

.last {
  margin-bottom: 0;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: #b561cf;
}

li {
  list-style: none;
  display: flex;
}

/* ヘッダー・メニュー */
.top {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/headerback.jpg");
  background-size: cover;
  box-shadow: 0px 0px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-top: auto;
}

.title p {
  font-size: 250%;
}

nav {
  margin-top: auto;
  margin-bottom: 10%;
}

.nav_menu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  list-style: none;
}

.nav_menu_item {
  margin: 0 8vw;
}

.nav_menu_item .fas {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  font-size: 300%;
  padding-bottom: 5px;
}

/* コンテンツ全体 */
main {
  width: 100vw;
}

main a {
  color: #0066c0;
}

/* コンテンツ */
.content {
  margin: auto;
  width: 90%;
}

.content h1 {
  font-size: 300%;
  text-align: center;
  padding: 10%;
}

.content .fas {
  font-size: 100%;
  margin-right: 8px;
}

.content h2 {
  font-size: 170%;
  margin-bottom: 10%;
  font-weight: 600;
}

.introduction, .codes, .tools, .hobby, .work, .email {
  margin: 10% 0 20% 0;
}

/* 自己紹介 */
.introduction p {
  text-align: left;
}

/* プログラム言語ロゴ & 使用ツール */
.codes .flex, .tools .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.code, .tool {
  width: 25%;
  height: 25%;
  padding: 2%;
}

.code p {
  font-size: 90%;
  text-align: center;
}

.code .fas, .code .far {
  margin: 0;
  font-size: 13px;
  text-align: center;
}

.code .small {
  font-size: 5%;
  margin-top: 0;
}

.code img, .tool img {
  width: 55%;
}

.tools h2 {
  margin-top: 0;
}

/* 趣味 */
.hobbys h3 {
  font-size: 130%;
  margin-bottom: 1%;
}

/* 制作品 */
#works {
  background-color: #222;
  color: white;
}

.works {
  margin: 10% 0 0 0;
  padding: 0 5%;
}

.works a {
  color: orange;
}

.works .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work-title {
  margin-bottom: 3%;
}

.work h3 {
  font-size: 150%;
  font-weight: 600;
  margin: 0 3% 3% 3%;
}

.work .fas, .work .fab {
  font-size: 150%;
}

.work .sample {
  margin-bottom: 15px;
}

.work .logo {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: white;
  border: solid 5px white;
  border-radius: 25%;
}

/* コンタクト */
.email p {
  margin: 5% 0;
  text-align: center;
  font-size: 120%;
}

/* TOPボタン */
.topBtn {
  position: fixed;
  bottom: 3vw;
  right: 4vw;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.topBtn:before {
  content: '\25B2';
  position: absolute;
  color: #fff;
  top: 6px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

/* レスポンシブ対応 */
/* タブレットサイズ */
@media screen and (min-width: 650px) {
  * {
    font-size: 18px;
  }

  .title {
    font-size: 2.8vw;
  }

  .title br {
    display: none;
  }

  .nav_menu_item .fas {
    font-size: 400%;
  }

  .content h1 {
    padding: 5%;
  }

  .content h2 {
    margin-bottom: 5%;
  }

  .introduction, .codes, .tools, .hobby, .work {
    margin: 5% 0 10% 0;
  }

  .content {
    width: 700px;
  }

  .content h1 {
    font-size: 300%;
  }

  .content h2 {
    font-size: 150%;
  }

  .introduction p {
    text-align: center;
  }

  .code {
    width: calc(25% - 40px);
    padding: 0;
    margin: 10px 5px 5px 5px;
  }

  .tool {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 10px 5px 5px 5px;
  }

  .code img, .tool img {
    width: 60px;
  }

  .work {
    width: calc(50% - 60px);
    margin: 30px 20px 80px;
  }

  .topBtn {
    width: 70px;
    height: 70px;
  }

  .topBtn:before {
    top: 7px;
    font-size: 35px;
  }
}

/* PCサイズ */
@media screen and (min-width: 1200px) {
  .title {
    font-size: 30px;
  }

  .nav_menu_item {
    margin: 0 100px;
  }

  .content {
    width: 750px;
  }

  .topBtn {
    width: 80px;
    height: 80px;
  }

  .topBtn:before {
    top: 10px;
    font-size: 40px;
  }
}