/* 全体 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 15px;
}

body {
  background-color: #fff;
  font-size: 4vw;
  color: #333;
}

hr {
  width: 20%;
  margin: auto;
}

.small {
  font-size: 50%;
}

.right {
  text-align: right;
}

.last {
  margin-bottom: 0;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: #b561cf;
}

li {
  list-style: none;
  display: flex;
}

/* ヘッダー・メニュー */
.top {
  width: 100vw;
  height: 100vh;
  background-image: url("img/headerback.jpg");
  background-size: cover;
  box-shadow: 0px 0px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-top: 50%;
}

.title p {
  font-size: 250%;
}

nav {
  margin-top: 50%;
}

.nav_menu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  list-style: none;
}

.nav_menu_item {
  margin: 0 8vw;
}

.nav_menu_item .fas {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  font-size: 300%;
  padding-bottom: 5px;
}

/* コンテンツ全体 */
main {
  width: 100vw;
}

main a {
  color: #0066c0;
}

main a:hover {
  color: #0066c0;
}

/* コンテンツ */
.content {
  margin: auto;
  width: 90%;
}

.content h1 {
  font-size: 300%;
  text-align: center;
  padding: 10%;
}

.content .fas {
  font-size: 100%;
}

.content h2 {
  font-size: 180%;
  margin-bottom: 10%;
}

.content .fas {
  margin-right: 8px;
}

/* 自己紹介 */
.introduction {
  margin: 10% 0;
}

.introduction p {
  text-align: left;
}

/* プログラム言語ロゴ & 使用ツール */
.codes, .tools {
  margin: 10% 0;
}

.codes .flex, .tools .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.code, .tool {
  width: 29%;
  height: 29%;
  padding: 2%;
}

.code p {
  font-size: 90%;
  text-align: center;
}

.code img, .tool img {
  width: 55%;
}

.tools h2 {
  margin-top: 0;
}

/* 趣味 */
.hobby {
  margin: 10% 0;
}

.hobbys h3 {
  font-size: 130%;
  margin-bottom: 3%;
}

/* 制作品 */
#works {
  background-color: #222;
  color: white;
}

.works {
  padding: 10% 0;
}

.works .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work {
  margin: 10% 0;
}

.work h3 {
  font-size: 130%;
  margin-bottom: 3%;
}

.work .sample {
  margin-bottom: 15px;
}

.work .logo {
  margin: 0;
  padding: 0;
  width: 15%;
}

/* コンタクト */
.email {}

.email p {
  margin: 10% 0;
  text-align: center;
  font-size: 120%;
}

/* TOPボタン */
.topBtn {
  position: fixed;
  bottom: 3vw;
  right: 4vw;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
}

.topBtn:before {
  content: '\25B2';
  position: absolute;
  color: #fff;
  top: 1.5vw;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 6vw;
}

/* レスポンシブ対応 */
/* タブレットサイズ */
@media screen and (min-width: 1000px) {
  * {
    font-size: 20px;
  }

  .title {
    margin-top: 30%;
    font-size: 200%;
  }

  nav {
    margin-top: 30%;
  }

  .nav_menu_item .fas {
    font-size: 500%;
  }

  .introduction p {
    text-align: center;
  }

  .code {
    width: calc(25% - 40px);
    margin: 10px 5px 5px 5px;
  }

  .tool {
    width: calc(25% - 40px);
    margin: 10px 5px 5px 5px;
  }

  .code img, .tool img {
    width: 40%;
  }

  .work {
    width: calc(50% - 60px);
    margin: 30px 20px 80px;
  }

  .topBtn {
    width: 6vw;
    height: 6vw;
  }

  .topBtn:before {
    top: 11%;
    left: 0;
    font-size: 3vw;
  }
}

/* PCサイズ */
@media screen and (min-width: 1200px) {
  body {
    font-size: 100%;
  }

  hr {
    width: 5vw;
    margin: auto;
  }

  .top {
    width: 100vw;
    height: 100vh;
    background-image: url("img/headerback.jpg");
    background-size: cover;
    box-shadow: 0px 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    font-size: 3vw;
    text-align: center;
    margin-top: 10vw;
  }

  .title br {
    display: none;
  }

  nav {
    margin-top: 10vw;
  }

  .nav_menu_item {
    margin: 0 3vw;
    font-size: 1vw;
  }

  .nav_menu_item .fas {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    font-size: 280%;
    padding-bottom: 5px;
  }

  .content {
    margin: auto;
    width: 50vw;
  }

  .content h1 {
    font-size: 3vw;
    text-align: center;
    padding: 10%;
  }

  .content h2 {
    font-size: 2vw;
    margin-bottom: 10%;
  }

  .content .fas {
    margin-right: 8px;
  }

  .introduction p {
    text-align: center;
  }

  .code {
    width: 15%;
    margin: 10px 5px 5px 5px;
  }

  .code p {
    font-size: 75%;
  }

  .tool {
    width: 50%;
    margin: 10px 5px 5px 5px;
  }

  .code img, .tool img {
    width: 100%;
  }

  .work {
    width: calc(50% - 60px);
    margin: 30px 20px 80px;
  }

  .topBtn {
    position: fixed;
    bottom: 3vw;
    right: 4vw;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
  }

  .topBtn:before {
    content: '\25B2';
    position: absolute;
    color: #fff;
    top: 11%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3vw;
  }
}