/* 全体 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: 100;
  text-align: center;
}

body {
  background-color: #fff;
  color: #333;
}

hr {
  width: 50vw;
  margin: auto;
}

.big {
  font-size: 20px;
}

.small {
  font-size: 15px;
}

.right {
  text-align: right;
}

.last {
  margin-bottom: 0;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: #b561cf;
}

li {
  list-style: none;
  display: flex;
}

/* ヘッダー・メニュー */
header {
  width: 100vw;
  background-image: url("img/headerback.jpg");
  box-shadow: 0px 0px 4px;
  display: table;
}

.title {
  margin-top: 40vh;
  font-size: 10vw;
  text-align: center;
}

.nav_menu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  list-style: none;
  margin: 20vh 0;
}

.nav_menu_item {
  margin: 0 8vw;
  font-size: 4vw;
}

.nav_menu_item .fas {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  font-size: 12vw;
  padding-bottom: 5px;
}

/* コンテンツ全体 */
main {
  width: 100vw;
}

main a {
  color: #0066c0;
}

main a:hover {
  color: #0066c0;
}

/* コンテンツ */
.introduction p {
  text-align: left;
}

.content {
  padding: 50px 0;
  margin: auto;
  width: 90vw;
}

.content h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.content h2 {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 15px;
}

.content .fas {
  margin-right: 8px;
}

/* プログラム言語ロゴ & 使用ツール */
.codes, .tools {
  margin-bottom: 25px;
}

.codes .flex, .tools .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.code, .tool {
  width: calc(33% - 10px);
  margin: 10px 5px 5px 5px;
}

.codes h2, .tools h2 {
  margin-bottom: 30px;
}

.code h3, .tool h3 {
  font-size: 20px;
  text-align: left;
}

.code p {
  text-align: center;
}

.code .small {
  font-size: 1px;
}

.code img, .tool img {
  margin: 10px 0 0 0;
}

.tools h2 {
  margin-top: 0;
}

.tools h3 {
  margin-top: 15px;
  font-size: 20px;
  text-align: left;
}

/* 趣味 */
.hobby h2 {
  margin-top: 0;
}

.hobbys h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

/* 制作品 */
#works {
  background-color: #222;
  color: white;
}

.works .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work {
  margin: 50px 20px;
}

.work h2 {
  margin-bottom: 30px;
}

.work h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

.work .sample {
  margin-bottom: 15px;
}

.work .logo {
  ` margin: 0;
  padding: 0;
}

/* コンタクト */
.email {}

.email p {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

/* TOPボタン */
.topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 11px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-top: 30px;
  box-sizing: border-box;
}

.topBtn:before {
  content: '\25B2';
  position: absolute;
  color: #fff;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

/* レスポンシブ対応 */
/* タブレットサイズ */
@media screen and (min-width: 700px) {
  .introduction p {
    text-align: center;
  }

  .code, .tool {
    width: calc(33% - 40px);
    margin: 10px 5px 40px 5px;
  }

  .code img, .tool img {
    margin-right: 10px;
    float: left;
  }

  .work {
    width: calc(50% - 60px);
    margin: 30px 20px;
  }
}

@media screen and (min-width: 1000px) {}